@model Ich.Saas.Core.Areas.Students.Detail
@{
    ViewBag.Title = @Localizer["Student"] + " " + @Localizer["Detail"];
    var count = Model.Enrollments.Count;
}

<div class="page-box d-flex">
    <div class="">
        <div class="page-box-icon"><a href="@Model.Referer"><i class="icon-people"></i></a> @Localizer["Student"]</div>
        <div class="page-box-name">@Model.FullName</div>
    </div>
    <div class="d-flex">
        <div class="page-box-data-first">@Localizer["Email"]<br />@Model.Email</div>
        <div class="page-box-data">@Localizer["BirthDate"]<br />@Model.BirthDate</div>
        <div class="page-box-data">@Localizer["From"]<br />@Model.City, @Model.Country</div>
        <div class="page-box-data-last">@Localizer["TotalEnrollments"]<br />@Model.TotalEnrollments</div>
    </div>
    <div class="ml-auto">
        <div class="page-box-buttons">
            <a class="btn btn-sm btn-light js-edit" href="/students/edit/@Model.Id">@Localizer["Edit"]</a>&nbsp;&nbsp;
            <a class="btn btn-sm btn-light js-delete" href="/students/delete" data-return-url="/students" data-id="@Model.Id" related-count="@Model.TotalEnrollments" related-message='@Localizer["Students with enrollments"]<br />@Localizer["cannot be deleted"].'>@Localizer["Delete"]</a>&nbsp;&nbsp;
        </div>
    </div>
</div>

<div class="tabs">
    <ul class="nav nav-tabs nav-tabs-related">
        <li class='nav-item'><a class='nav-link @(Model.Tab == "details" ? "active" : "")' data-toggle="tab" href="#details">@Localizer["Details"]</a></li>
        <li class='nav-item'><a class='nav-link @(Model.Tab == "enrollments" ? "active" : "")' data-toggle="tab" href="#enrollments">@Localizer["Enrollments"]</a></li>
    </ul>
</div>

<div class="tab-content">

    <div class='tab-pane @(Model.Tab == "details" ? "active" : "")' id="details">
        <div class="tab-pane-row row">

            <div class="col-12 col-md-6">
                <outputField value="FirstName"></outputField>
                <outputField value="LastName"></outputField>
                <outputField value="Alias"></outputField>
                <outputField value="Email"></outputField>
                <outputField value="BirthDate"></outputField>
                <outputField value="Gender"></outputField>
            </div>

            <div class="col-12 col-md-6">
                <outputField value="City"></outputField>
                <outputField value="Country"></outputField>
                <outputField value="TotalEnrollments"></outputField>
            </div>
        </div>
    </div>

    <div class="tab-pane @(Model.Tab == "enrollments" ? "active" : "")" id="enrollments">

        <div class="d-flex">
            <div class=" tab-pane-heading">@(count.Pluralize(Localizer["Enrollment"], Localizer["Enrollments"]))</div>
            <div class=" tab-pane-viewall">
                <a href="/enrollments?StudentId=@(Model.Id)&AdvancedFilter=True">
                    @(count == 0 ? "" : count == 9 ? @Localizer["View All"] : @Localizer["View List"])
                </a>
            </div>
            <div class="ml-auto">
                <a class="btn btn-sm btn-light" href="/enrollments/edit?studentid=@Model.Id">@Localizer["New Enrollment"]</a>&nbsp;
            </div>
        </div>

        @if (count == 0)
        {
            <div class="no-relateds">
                @Localizer["Student is not enrolled in any classes"]
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var enrollment in Model.Enrollments)
                {
                    @await Html.PartialAsync("_Enrollment", enrollment)
                }
            </div>
        }
    </div>

</div>

