@model Ich.Saas.Core.Areas.Accounts.Password
@{
    ViewBag.Title = Localizer["Change"] + " " + Localizer["Password"];
}

<div class="page-box d-flex">
    <div class="">
        <div class="page-box-icon"><i class="icon-settings"></i> @Localizer["My Account"]</div>
        <div class="page-box-name">@CurrentUser.FirstName @CurrentUser.LastName</div>
    </div>
</div>

<div class="row page">
    <div class="col-6 offset-md-6 py-10">

        <form method="post" asp-antiforgery="true">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">&nbsp;</label>
                        <div class="col-sm-7"><h4>@Localizer["Change"] @Localizer["Password"]</h4></div>
                    </div>

                    <inputTextBox value="CurrentPassword"></inputTextBox>
                    <inputTextBox value="NewPassword"></inputTextBox>
                    <inputTextBox value="ConfirmPassword"></inputTextBox>

                    <div class="form-group row border-top mt-16 pt-8 pb-25">
                        <label class="col-sm-3 col-form-label">&nbsp;</label>
                        <div class="col-sm-7">
                            <button class="btn btn-light btn-sm" type="submit">@Localizer["Save"]</button>&nbsp;
                            <a class="btn btn-light btn-sm" href="/account">@Localizer["Cancel"]</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>